
@media only screen and (max-width: 1650px){
    .home{
        height: 90vh;
    }
    .profile-home, .introbg{
        display: none;
    }
    .mesh1{
        opacity: 0.4;
    }
}



@media only screen and (min-width: 755px){
    .home{
        height: 94.4vh;
    }
    .profile-home{
        height: 90vh;
    }
    .mesh1{
        opacity: 0.8;
    }
}

.home{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, #FFEFBA, #FFFFFF);
}


.intro-text{
    position: absolute;
    font-size: 40px;
    top: 10%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.accolades-container{
    position: absolute;
    top: 60%;
    left: 10%;
}

.accolades{
    font-size: 20px;
    color: rgb(90, 90, 90);
}

strong{
    font-family: 'Montserrat', sans-serif;
    color: black;

}

.profile-home{
    position: absolute;
    left: 55%;
    bottom: 0;
}

.introbg{
    position: absolute;
    bottom: 0;
    width: 60%;
    right: 0;
    height: 120%;
}

.mesh1{
    position: absolute;
    right: -20%;
    width: 80%;
    top: 5%;
    animation: rotate 25s infinite linear;
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

