.about-me{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(45deg, #D3CCE3, #E9E4F0);
}

.dark-img{
    position: absolute;
    bottom: 0;
    height: 20vw;
    width: 100%;
}
.light-img{
    position: absolute;
    bottom: 0;
    width: 30vw;
    height: 100%;
}

.pink-img{
    position: absolute;
    bottom: 0;
    height: 100%;
}

.about-me-greeting{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}

.about-me-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 37%;
}

.arrow{
    position: absolute;
    left: 47%;
    top: 50%;
}

.internships{
    position: relative;
    height: 100vh;
    margin-top: -2px;
    background-image: linear-gradient(to bottom, #220b28ff, white);
}