.nav-div{
    position: relative;
    height: 20vh;
}

@media only screen and (max-width: 755px){
    .home{
        height: auto;
    }
}

@media only screen and (min-width: 755px){
    .home{
        height: 100vh;
    }
}

.home{
    position: relative;
    background-color: #2A2B30;
}
.brand-logo{
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
nav .nav-wrapper{
    height: 20vh;
    background-color: #CECECE;
}

.intro-text{
    font-family: 'Montserrat', sans-serif;
    color: #CECECE;
}

.accolades{
    font-size: medium;
}

strong{
    font-family: 'Montserrat', sans-serif;
    color: #CECECE;

}

.profile-home{
    position: absolute;
    height: 90vh;
    left: 48%;
    bottom: 0;
}

.vertical-line{
    position: absolute;
    right: 2.7%;
    border-left:  solid black;
    padding: 10px;
}

.description{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    color: #CECECE;

}

.vertical-line-down{
    position: absolute;
    right: 9%;
    bottom: 0;
    border-left:  solid black;
    padding: 10px;
}

.fa-links{
    font-size: 24px;
    color: #CECECE;
}


