<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SH: Internships</title>
    <meta name="description" content="Blueprint: On Scroll Effect Layout" />
    <meta name="keywords" content="on scroll, effect, slide in, layout, template, transition, javascript" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../internships/demo.css" />
    <link rel="stylesheet" type="text/css" href="../internships/component.css" />
    <script src="../internships/modernizr.custom.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body>
    <div class="container">
        <header class="clearfix">
            <span><a href="../index.html">SH</a></span>
            <h1>Internships</h1>
            <nav>
                <a href="about-me.html" class="bp-icon bp-icon-prev" data-info="Previous: About "></a>
                <a href="projects.html" class="bp-icon bp-icon-next" data-info="Next: Project"></a>
            </nav>
        </header>
        <div id="cbp-so-scroller" class="cbp-so-scroller">
            <section class="cbp-so-section">
                <article class="cbp-so-side cbp-so-side-left">
                    <h2 class="mycaptain">MyCaptain</h2>
                    <p><strong>Role: </strong> Web development SME</p>
                    <p><strong>Duration: </strong>January 2020 - Present</p>
                    <p><strong>Location: </strong>Bengaluru, India (Work from home)</p>
                    <p><strong>Responsibilities: </strong>
                        I am currently working as a Subject Matter Expert for MyCaptain in the domain of
                        web development where I deal with 150-250 mentees on a monthly basis and conduct workshops on
                        the
                        hows and whys of web development </p>
                </article>
                <figure class="cbp-so-side cbp-so-side-right">
                    <img style="margin-top: 30%;"
                        src="https://www.mycaptain.in/assets/static/brand-logo.c238156.2ad089d9334745d2d3c367eaa45263ba.png">
                </figure>
            </section>
            <section class="cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                    <img style="margin-top: 40%;"
                        src="https://crypto.jobs/storage/company-logos/LnXqc5DDYB2dCfkYuG19ijPNHtLdRj2O6FSY5J5Y.png"
                        alt="img01">
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>White Code Labs</h2>
                    <p><strong>Role: </strong>Full Stack Developer</p><br>
                    <p><strong>Duration: </strong>November 2019 - January 2020</p><br>
                    <p><strong>Location: </strong>Palo Alto, California ( Work from home )</p><br>
                    <p><strong>Responsibilities: </strong>
                        I worked for White Code Labs as a full stack developer where I worked with React JS library in
                        the frontend
                        and was introduced to Node JS for building servers to meet the high traffic of user requests and
                        for
                        real time tracking of shipments for logistics. </p>
                </article>
            </section>
            <section class="cbp-so-section">
                <article class="cbp-so-side cbp-so-side-left">
                    <h2>R.T.G Studios</h2>
                    <p><strong>Role: </strong>Full Stack web developer</p><br>
                    <p><strong>Duration: </strong>July 2019 - September 2019</p><br>
                    <p><strong>Location: </strong>Pune ( Work from home )</p>
                    <p><strong>Description: </strong>
                        I worked as a web developer intern where I worked in React JS library in frontend and DRF to
                        build RESTful API endpoints
                        in the backend. </p>
                </article>
                <figure class="cbp-so-side cbp-so-side-right">
                    <img style="margin-top: 25%;" src="https://img.findmysoft.com/ico/133742.png" alt="img01">
                </figure>
            </section>
            <section class="cbp-so-section">
                <figure class="cbp-so-side cbp-so-side-left">
                    <img style="width: 100%; margin-top: 30%;"
                        src="http://www.logicnxt.com/wp-content/uploads/2019/06/logo-12.png" alt="img01">
                </figure>
                <article class="cbp-so-side cbp-so-side-right">
                    <h2>Logicnxt</h2>
                    <p><strong>Role: </strong>Graphic Designer and Digital Marketeer</p><br>
                    <p><strong>Duration: </strong>June 2019 - September 2019</p><br>
                    <p><strong>Description: </strong>
                        As an intern in Logicnxt, I was responsible for producing quality vector illustrations for
                        wallpapers, logos for
                        various companies and t shirt designs. Apart from this I was also tasked with digital marketing
                        of their clients. </p>
                </article>
            </section>

        </div>
    </div>
    <script src="../internships/classie.js"></script>
    <script src="../internships/cbpScroller.js"></script>
    <script>
        new cbpScroller(document.getElementById('cbp-so-scroller'));
    </script>
    <!-- For the demo ad only -->
    <script src="//tympanus.net/codrops/adpacks/demoad.js"></script>
</body>

</html>