<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163773895-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-163773895-1');
	</script>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Swarup Hegde : Projects</title>
	<meta name="description" content="A simple content slider with depth-like zoom functionality" />
	<meta name="keywords" content="blueprint, template, slider, zoom, javascript, depth, 3d, css" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Feather Icons -->
	<link rel="stylesheet" type="text/css" href="../projects/feather.css">
	<!-- General demo styles & header -->
	<link rel="stylesheet" type="text/css" href="../projects/demo.css" />
	<!-- Component styles -->
	<link rel="stylesheet" type="text/css" href="../projects/component.css" />
	<script src="../projects/modernizr.custom.js"></script>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-7243260-2']);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</head>

<body>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<span>Projects</span>
			<nav>
				<a href="./internships.html" class="bp-icon bp-icon-prev"
					data-info="Internships"><span>Internships</span></a>
				<a href="../index.html" class="bp-icon bp-icon-next" data-info="Home"><span>Home</span></a>
			</nav>
		</header>
		<!-- Grid -->
		<section class="slider">
			<div class="slide slide--current" data-content="content-1">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="../projects/images/laptop.png" alt="iPhone" />
						<div class="preview">
							<img src="../projects/images/sih17.png" alt="iPhone app preview" />
							<div class="zoomer__area zoomer__area--size-2"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Smart India Hackathon</span>Web portal for counceling and reporting
					against cyber bullying</h2>
			</div>
			<div class="slide" data-content="content-2">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="../projects/images/laptop.png" alt="iPad Mini" />
						<div class="preview">
							<img src="../projects/images/phack.png" alt="iPad Mini app preview" />
							<div class="zoomer__area zoomer__area--size-4"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Pune Smart City Hackathon</span>GDRS ( Garbage Disposal and Retrieval
					System )</h2>
			</div>
			<div class="slide" data-content="content-3">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="../projects/images/laptop.png" alt="MacBook" />
						<div class="preview">
							<img src="../projects/images/cert.png" alt="MacBook app preview" />
							<div class="zoomer__area zoomer__area--size-3"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Version Beta '19</span> Smart Certificate Generator</h2>
			</div>
			<div class="slide" data-content="content-4">
				<div class="slide__mover">
					<div class="zoomer flex-center">
						<img class="zoomer__image" src="../projects/images/laptop.png" alt="iMac" />
						<div class="preview">
							<img src="../projects/images/web.png" alt="iMac app preview" />
							<div class="zoomer__area zoomer__area--size-5"></div>
						</div>
					</div>
				</div>
				<h2 class="slide__title"><span>Minor Project</span>Digital platform for automated website generation
				</h2>
			</div>

			<nav class="slider__nav">
				<button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span
						class="text-hidden">Previous Project</span></button>
				<button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View
						details</span></button>
				<button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span
						class="text-hidden">Next Project</span></button>
			</nav>
		</section>
		<!-- /slider-->
		<section class="content">
			<div class="content__item" id="content-1">
				<img class="content__item-img rounded-right" src="../projects/images/sih17-content.png"
					alt="Apple Watch Content" />
				<div class="content__item-inner">
					<h2>Rahat</h2>
					<h3>Empower yourself</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="https://github.com/indraasura/">Learn more about this technology</a>
					</p>
				</div>
			</div>
			<div class="content__item" id="content-2">
				<img class="content__item-img rounded-right" src="../projects/images/phack-content.png"
					alt="iPad Mini Content" />
				<div class="content__item-inner">
					<h2>GDRS</h2>
					<h3>Garbage Disposal on Demand</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="https://github.com/indraasura/">Learn more about Performance</a>
					</p>
				</div>
			</div>
			<div class="content__item" id="content-3">
				<img class="content__item-img rounded-right" src="../projects/images/cert-content.png"
					alt="MacBook Content" />
				<div class="content__item-inner">
					<h2>Inker</h2>
					<h3>It's the future of Certificate Generation</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="https://github.com/indraasura">Learn more about Inker</a></p>
				</div>
			</div>
			<div class="content__item" id="content-4">
				<img class="content__item-img rounded-right" src="../projects/images/web-content.png"
					alt="iMac Content" />
				<div class="content__item-inner">
					<h2>Autosite</h2>
					<h3>Engineered to the very last detail</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
						non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="https://github.com/indraasura/">Learn more about the product's features
							&xrarr;</a></p>
				</div>
			</div>

			<button class="button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close
					content</span></button>
		</section>
	</div>
	<script src="../projects/classie.js"></script>
	<script src="../projects/dynamics.min.js"></script>
	<script src="../projects/main.js"></script>


	<!-- For the demo ad only -->
	<script src="//tympanus.net/codrops/adpacks/demoad.js"></script>

</body>

</html>